$off-white: #ffffffa6;

.Jamstack_section {
  background: #1e1528;
  padding: 4.65rem 3.1rem;
  border-radius: 16px;
  h2 {
    font-size: 2.07474rem;
    line-height: 1.33;
    font-weight: 700;
    margin: 0 0 1.1625rem;
  }
  p {
    font-size: 1.25em;
    margin: 2.325rem 0 1.1625rem;
    line-height: 1.8em;
  }
  img {
    width: 100%;
    max-width: 500px;
  }
}
